extends ../layout/main 

block variables
  - var pageClass = 'index-page';

block content 
  section(class="find") 
    h2(class="find-title") The search begins!
  section(class="inputs")
    input(class="inputs-search" type="text")
    button(class="inputs-type") find user
  section(class="cards")
    .cards-item