extends ../layout/main 

block variables
  - var pageClass = 'index-page';

block content 
  section(class="find") 
    h2(class="find-title") The search begins!
    p.find-filter изменить количество отображенных карточек на странице
    label.radio-box
      input.radio-box__input(type="radio" name="o" value="3")
      span.radio-box__checkmark 3
    label.radio-box
      input.radio-box__input(type="radio" name="o" value="6")
      span.radio-box__checkmark 6
    label.radio-box
      input.radio-box__input(type="radio" name="o" value="9")
      span.radio-box__checkmark 9
  section(class="inputs")
    input(class="inputs-search" type="text" value="")
    button(class="inputs-type" id="btnFind") find user
  section(class="cards")
  section(class="deletePrev")
    ul(id="paginations")
    button(class="deleteAll") clear field
