.index-page {
  background-image: url("/assets/img/s.svg");
  background-size: cover;
  background-repeat: no-repeat;
  .wrapper {
    .wrapper-content {
      max-width: $desktopWidth;
      margin: 0 auto;
      .find {
        &-title {
          text-align: center;
          font-family: Airfool;
        }
      }
      .inputs {
        text-align: center;
        &-search {
          padding: 0.6em 0.5em;
          border: 1px solid rgb(73, 63, 18);
          border-radius: rem(3);
          outline: none;
        }
        &-type {
          border-radius: rem(3);
          outline: none;
          border: 1px solid rgb(73, 63, 18);
          padding: 0.6em 0.5em;
          background-color: rgba(255, 255, 255, 0.9);
          font-family: Airfool;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: #000000;
            color: aliceblue;
          }
        }
      }
      .cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &-item {
          background-color: rgba(255, 255, 255, 0.4);
          display: flex;
          flex-direction: column;
          width: 300px;
          padding: rem(10);
          margin-right: rem(25);
          margin-bottom: rem(25);
          border: 1px solid #000000;
          border-radius: rem(3);
          word-break: break-all;
          &__photo {
            align-self: center;
            width: 100px;
            height: 100px;
          }
          &__link {
            .goOver {
              color: inherit;
            }
          }
          &__login,
          &__link,
          &__rating {
            font-size: rem(12);
            margin: rem(7) rem(6) rem(7) rem(6);
            border-bottom: 1px solid #000;
            font-family: Airfool;
            color: rgb(57, 123, 153);
          }
        }
      }
      .deletePrev {
        display: none;
        .deleteAll {
          margin-top: 3em;
          border-radius: rem(3);
          outline: none;
          border: 1px solid rgb(73, 63, 18);
          padding: 0.6em 0.5em;
          background-color: rgba(255, 255, 255, 0.9);
          font-family: Airfool;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: #f11a1a;
            color: aliceblue;
          }
        }
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        li {
          margin: 0 10px;
          flex-basis: 2%;
          border: 1px solid black;
          background-color: rgba(236, 238, 117, 0.7);
          transition: all 0.2s;
          font-size: 0.7em;
          padding: 0.2em;
          cursor: pointer;
          user-select: none;
          // position: absolute;
          backface-visibility: hidden;
          &:hover {
            // background-color: #eb7937;
            transform: scale(1.1);
          }
          &.active {
            position: relative;
            background-color: rgba(44, 209, 168, 0.5);
            color: #fff;
            &::after {
              content: "";
              position: absolute;
              height: 30px;
              width: 30px;
              background-image: url(/assets/img/ring.png);
              background-size: cover;
              background-repeat: no-repeat;
              top: -34px;
              left: -3px;
              animation: jump 0.6s, vibro 0.6s infinite;
            }
            &:hover {
              transform: scale(1);
            }
          }
        }
      }
      .deletePrev.active {
        display: block;
        text-align: center;
      }
    }
  }
}
